<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test twig</title>
	</head>
	<body>
		<div id="content">
			<p>Test</p>
			{% block body %}
			<p>Hello {{name}}</p>
			{% endblock %}
		</div>
	</body>
</html>
